.goods-block {
    margin: 80px 0;
}

.goods-cart {
    min-height: 350px;
    background: #fff;
    text-align: center;
    font-size: 18px;
}


.goods-name {
    color: #43525d;
}

.goods-cart-description {
    font-size: 65%;
    color: #43525d;
}


.main-block-goods {
    margin-top: 30px;
}

/*--------------sidebar----------------------*/

.sidebar-block {
    background: #fff;
    text-align: left;
    min-height: 100px;
    padding: 20px 0;
    ;
    margin-bottom: 20px;
}

.sidebar-block h4 {
    font-size: 18px;
    color: #ff7013;

}

.sidebar-block a {
    color: #44525e;
    text-decoration: none;
}

.sidebar-block a:hover {
    color: #ff5912;
}


.sidebar-block ul {
    list-style: none;
}

.sidebar-block ul li {
    margin-left: -40px;
    margin-top: 15px;
}

.checkbox-size::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 3px solid rgb(160, 160, 160);
    margin-right: 10px;
}

.checkbox-size-active::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 3px solid #ff7013;
    margin-right: 10px;
}

.checkbox-size a {
    font-weight: 600;
    font-size: 14px;
}

.checkbox-size-active a {
    color: #ff7013;
    font-weight: 600;
    font-size: 14px;
}

/*---------------sidebar-block---------------*/

.sidebar-block {
    padding-left: 30px;
}

.double-slider {
    position: relative;
    min-height: 80px;
    padding-left: 30px;
}

.line-lite {
    height: 2px;
    background: #edf0f2;
    position: absolute;
    top: 60px;
    left: 20px;
    right: 20px;
}

.line-dark {
    height: 2px;
    background: #43525d;
    position: absolute;
    top: 60px;
    left: 50px;
    right: 50px;
}

.left-dot,
.right-dot {
    width: 40px;
    height: 40px;
    position: absolute;
    text-align: center;
}

.dot {
    width: 12px;
    height: 12px;
    background: #43525d;
    border-radius: 100%;
    margin: 5px auto;
}

.right-dot {
    right: 30px;
    top: 32px;
}

.left-dot {
    left: 30px;
    top: 32px;
}

.slider-from-to {
    margin-right: 35px;
    margin-top: 15px;
}

.slider-from-to input {
    width: 40px;
    margin-right: 15px;
}